
<mat-card style="background-color: #34a1bf">
    <div style="width: 80px; ">
    <mat-form-field appearance="outline">
        <mat-icon   style="color: aliceblue;" matPrefix>search</mat-icon>
      <mat-label style="color: aliceblue;">Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search">
     
        <mat-icon   style="color: aliceblue;" matSuffix>close</mat-icon>
      
    </mat-form-field>
   </div>
<!-- <div calss="mat-elevation-z8" style="background-color: #34a1bf"> -->
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="League">
        <mat-header-cell *matHeaderCellDef mat-sort-header>League</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.League }}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="player">
        <mat-header-cell *matHeaderCellDef mat-sort-header>player</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.player }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Payment Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.PaymentDate }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Paid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Paid</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.Paid }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Comp.">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Comp.</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.Comp }}</mat-cell>
      </ng-container>
 
     <mat-header-row *matHeaderRowDef="['League' ,'player','Payment Date','Paid' ,'Comp.']"></mat-header-row>
<mat-row *matRowDef="let row; columns: ['League' ,'player','Payment Date','Paid' ,'Comp.']"></mat-row>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  <!-- </div> -->
  </mat-card>